body {
  margin: 0;
  padding: 0;
  /* background-color: #3e3e3f; */
  /* color: w */
  overflow-y: scroll;
}
.css-9ddj71-MuiInputBase-root-MuiOutlinedInput-root {
  margin-bottom: 1rem;
}
.grid {
  display: grid;
  place-items: center;
}
.carousel .control-next.control-arrow:before {
  border-left: 8px solid rgb(158, 158, 158);
}
.carousel .control-prev.control-arrow:before {
  border-right: 8px solid rgb(158, 158, 158);
}
#demo-simple-select {
  padding: 0.5rem 0.5rem;
}
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  -webkit-appearance: none;
}
a,
a:hover {
  text-decoration: none;
  color: white;
}
.padding-0 {
  padding-right: 0rem;
  padding-left: 0rem;
}

.myNavbar li {
  color: white;
  cursor: pointer;
}
ul {
  padding: 0;
  margin: 0;
}
.myNavbar {
  background-color: black;
  position: fixed;
  z-index: 3;
  width: 100%;
  /* width: 80%; */
}
.myNavbar .main {
  display: flex;
}
.myNavbar li,
.myNavbar ul,
.main,
.menu {
  height: 100%;
}

.myNavbar a {
  color: white;
  font-size: 1rem;
  padding: 0.25rem 0.5rem;
}
a:hover {
  text-decoration: none;
}
.main li:hover {
  background-color: #2f3033;
}

.myNavbar img {
  width: 60%;
}
.menu .bg {
  height: 2.5rem;
  position: relative;
  width: 2.5rem;
  background-color: #2f3033;
  border-radius: 50%;
}
.menu i {
  position: absolute;
  top: 50%;
  left: 50%;
  font-weight: 300;
  transform: translate(-50%, -50%);
}
.menu .bg:hover {
  background-color: #4f5155;
}
.menu a {
  display: inline;
  padding: 0;
}

.searchInput {
  padding: 1rem 2rem;
  background-color: transparent;
  width: 100%;
  border: none;
  color: white;
  transition: all 1s;
}
input:focus {
  outline: none !important;
}
.form-control:focus {
  box-shadow: unset;
}
.btn:focus,
.btn-success:focus {
  box-shadow: unset;
}
.searchForm {
  transition: all 1s;
  width: 100%;
  position: relative;
  height: 100%;
}
.myNavbar .fa-times {
  position: absolute;
  top: 50%;
  right: 10%;
  transform: translateY(-50%);
  color: white;
  display: inline;
  cursor: pointer;
  font-size: 1.3rem;
}

/* session */
.sessionTitle i,
.sessionTitle span {
  font-size: 2.5rem;
  font-weight: 600;
}
.sessionTitle {
  text-align: center;
  margin-top: 2rem;
}
.product {
  color: #0071e3;
  border-radius: 0.8rem;
  padding: 1.5rem 1rem;

  min-height: 100%;
  position: relative;
}

.product .productName {
  margin-top: 0.5rem;
  text-align: center;
  font-weight: 400;
  margin-bottom: 2rem;
}
.productPrice {
  text-align: center;
  font-weight: 600;
  font-size: 1.2rem;
  margin: 0;
}
.product .price {
  position: absolute;
  bottom: 1rem;
  left: 50%;
  transform: translateX(-50%);
}
.productPrice--sale {
  font-size: 1rem;
  margin: 0;
  display: block;
  text-decoration-line: line-through;
  font-weight: 300;
}

/* product detail */
.productDetail .productName {
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: 2px;
}
.productDetail .productPrice {
  font-size: 1.6rem;
  font-weight: 600;
}
.productDetail .productPrice--sale {
  font-size: 1.3rem;
  margin: 0;
  text-decoration-line: line-through;
  font-weight: 400;
}
.productDetail .capacity {
  /* background-color: #4f5155; */
  /* width: 3rem; */
  border: 1px solid #4f5155;
  text-align: center;
  padding: 0.5rem 1rem;
  display: inline;
  border-radius: 0.5rem;
  margin-right: 1rem;
  cursor: pointer;
}
.productDetail .capacity__name {
  display: inline-block;
}
.productDetail .capacity--active {
  color: #e5e5e5;
  background-color: rgb(26, 26, 26);
}

.productDetail .color {
  height: 2.5rem;
  width: 2.5rem;
  border-radius: 50%;
  display: inline-block;
  margin-right: 1rem;
  cursor: pointer;
}
.productDetail .color--active {
  border: 3px solid #e5e5e5;
  box-shadow: #00e366 0px 3px 4px 0px, #2200e3a6 0px 0px 0px 2px;
}
.addtocart {
  background-color: #00e3d0;
  text-align: center;
  width: 100%;
  padding: 1.2rem 4rem;
  margin-top: 1rem;
  font-size: 1.5rem;
  font-weight: 700;
  border-radius: 0.8rem;
}
.productDetailDescription::-webkit-scrollbar,
.updateForm__content::-webkit-scrollbar {
  width: 0.3rem;
}

::-webkit-scrollbar-track {
  border-radius: 5px;
}

::-webkit-scrollbar-thumb {
  background: rgb(141, 141, 141);
  border-radius: 1rem;
}

::-webkit-scrollbar-thumb:hover {
  background: #6b6b6b;
}
.productDetailDescription {
  border: unset;
  width: 100%;
  background-color: #2f3333;
  padding: 10px 20px;
  color: white;
  height: 7rem;
  border-radius: 0.8rem;
}
.description {
  color: #2f3033;
  text-align: center;
}
.setDescription {
  width: 100%;
  height: 100px;
  margin-top: 10px;
  border: 1px solid #ced4da;
  padding: 10px;
  border-radius: 5px;
}
.setDescription:focus-visible {
  outline: 2px solid #0071e3;
}
.productDetailDescription:focus-visible {
  border: unset !important;
  outline: unset;
}
/* search */
.step-links {
  font-weight: 600;
}
.next:hover,
.pre:hover {
  color: #0071e3;
  transition: all 0.2s;
}
.notfound {
  font-size: 2rem;
}
.hint {
  padding: 5rem 1rem;
  text-align: center;
}

/* admin */
.addImg {
  cursor: pointer;
}
.productAdmin {
  background-color: #2f3033;
  color: #e5e5e5;
}
.updateForm {
  width: 50%;
  background-color: white;
  color: black;
  border-radius: 5px;
}
.updatePw {
  min-height: 100vh;
}
